<!DOCTYPE html>
<html>
  <head>
    <title>Últimas 4 Balotas</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="last-balls-display">
      <ul class="number-list">
        <li class="item"><span class="num-2">00</span></li>
        <li class="item"><span class="num-3">00</span></li>
        <li class="item"><span class="num-4">00</span></li>
        <li class="item"><span class="num-5">00</span></li>
      </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>