/* css/components/game-cards-loader.css */

#game-cards-loader {
  width: 100%;
}

.layout-cards-loader {
  background-color: #e2e2e2;
  border: 2px dashed #f2f2f2;
  padding: 20px;
  text-align: center;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.drop-area.dragover {
  background-color: #f0f8ff;
}

.browse-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#load-button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
