/* css/components/last-number.css */

#last-number {
  align-items: center;
}
#last-number .num-1 {
  background-color: white;
  color: rgb(25, 25, 112);
  font-size: 5rem;
  font-weight: var(--font-weight-bold);
  padding: 30px;
  border: 8px solid rgba(233, 220, 201, .75);
  border-radius: 50%;
}
