<!DOCTYPE html>
<html>
  <head>
    <title>Tablero de Juego</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div id="game-board-x" class="module">
      <div id="grid-game-board-x"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>
